*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* .html{
    font-size: 62.5%;
} */


.navbar input[type="checkbox"],
.navbar .hamburger-lines {
    display: none;
}

header {
    display: flex;
    height: 35px;
    align-items: center;
    background-image: linear-gradient(#0f1473, #0f1473);
    color: #fff;
    justify-content: center;

}

.bgbanner {
    position: relative;
}

.callicon,
.mapicon,
.clockicon,
.mediaicons {
    display: flex;
    flex-direction: row;
    align-items: center;
    letter-spacing: 1.2px;
    margin: 0px 20px;
    font-size: .9rem;
}

.mediaicons {
    display: flex;
    flex-direction: row;
    align-items: center;
    letter-spacing: 1.2px;
    margin: 0px 20px;
    /* padding: 0px 20px; */
    width: 150px;
    justify-content: space-around;
    /* background-color: red; */
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.navbar {
    box-shadow: 0px .5px 5px #fff;
    /* position: fixed; */
    width: 100%;
    /* background-color: #fff; */

    /* background-image: linear-gradient(#0f1473,#0f1473); */
    color: #0f1473;
    opacity: 1;
    z-index: 10;
    position: sticky;
    top: 0px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items {
    order: 2;
    display: flex;
}

.logo {
    order: 1;
    font-size: 2.2rem;
}

.menu-items .nav-link {
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

.navbar .nav-link {
    /* color: white; */
    color: #0f1473;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    transition: color 0.3s ease-in-out;
}

/* .navbar .nav-link:hover{
    color: #f6f60c;
} */
.nav-link:before,
.nav-link:after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 1px;
    background: #fff;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

.nav-link:before {
    top: 0px;
    transform: translateY(-7px);
}

.nav-link:after {
    bottom: -2px;
    transform: translateY(7px);
}

.nav-link:hover:before,
.nav-link:hover:after {
    opacity: 1;
    transform: translateY(0px);
}

@media (max-width: 1200px) {
    .navbar {
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines {
        display: block;
    }

    .navbar-container {
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"] {
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 30px;
        left: 10px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines {
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 10px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #aaa;
    }

    .navbar-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items {
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -6%;
        padding-left: 2%;
        transition: transform 0.5s ease-in-out;
        box-shadow: 2px 0px 10px 0px #eeeeee;
        /* overflow: scroll; */
    }

    .navbar .menu-items .nav-link {
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
        color: #aaa;
    }

    .navbar .menu-items .nav-link:hover {
        color: purple;      
    }

    .logo {
        position: absolute;
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
        top: 10px;
        right: 15px;
        font-size: 2.5rem;
    
    }

    .navbar-container input[type="checkbox"]:checked~.menu-items {
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
        transform: rotate(-45deg);
    }

}

@media (max-width: 500px) {
    .navbar .logo {
        font-size: 2.1rem;
    }

    .navbar-container input[type="checkbox"]:checked~.logo {
        display: none;
    }

    .navbar-container .hamburger-lines {
        height: 25px;
        width: 32px;
    }
}

@media all and (max-width: 460px) {
    .navbar .logo {
        font-size: 1.8rem;
        padding-left: 20px;
        top: 15px;
    }

    .navbar-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 8px;
        background: #aaa;
    }

    .navbar-container .hamburger-lines {
        height: 23px;
        width: 29px;
    }
}

.tracking-in-expand {
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@media all and (max-width:1200px) {

    .callicon,
    .mapicon,
    .clockicon,
    .mediaicons {
        font-size: .7rem;
    }
}
@media all and (max-width:1024px){
    .mapicon
    {
        display: none;
    }
}
@media all and (max-width:768px){
    .callicon,
    .mapicon,
    .clockicon,
    .mediaicons {
        font-size: .6rem;
    }
}
@media all and (max-width:540px){
    
    header {
        display: flex;
        flex-wrap: wrap;
        height: 80px;
        justify-content: start;
    }
    header
    {

    }
    .clockicon
    {
        display: none;
    }
}
.icons 
{
	/* height: 100px; */
	display: flex;
	align-items: center;
	justify-content: center;
}
.icons div
{
	background-color:#0f1473;
	height: 30px;
	width: 30px;
	border-radius:50%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding:7px;
	margin: 3px;
}
#svg-icons
{
	height: 100%;
	width: 100%;
	transition: 400ms;
}
.facebk:hover {
	background-color: rgb(44, 74, 222);
}
.instag:hover {
	background-color: rgb(237, 71, 198);
}
.linked:hover {
	background-color: #001eff;
}
.twitter:hover {
	background-color: rgb(91, 214, 255);
}
.wats:hover {
	background-color: #075e54;
}
.icons div:hover
{
	cursor:pointer;
}
.icons div:hover svg
{
	color: white;
	transform: rotate(360deg);
}
