.Philosophy {
  width: 400px;
  height: 400px;
  margin-top: -66%;
  position: relative;
  right: 100px;
}

@media all and (max-width: 768px) {
  .Philosophy {
    margin-top: -10%;
  }
}
@media all and (max-width: 420px) {
  .Philosophy {
    margin-top: -10%;
    width: 300px;
    right: 50px;
  }
}
