.WCMain {
    min-height: 100vh;
    /* height: 230vh; */
    width: 100%;
}

.WCHead {
    text-align: center;
    padding-top: 20px;
    font-size: 2.4rem;
}

.mainFrame {
    /* border: 2px solid; */
    padding-top: 50px;
    width: 80%;
    height: 750px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.WCrow {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    width: 80%;
    margin: 5%;
    

}


.WCcard {
    margin: 30px;
    position: relative;
    width: 250px;
    height: 314px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .WCcard::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -5px;
    margin: auto;
    width: 260px;
    height: 330px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .WCcard::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
  }
  
  .heading {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
  }
  
  .WCcard p:not(.heading) {
    font-size: 14px;
  }
  
  .WCcard p:last-child {
    color: #fff;
    text-align: justify;
    font-size: 1.1rem;
    
  }
  
  .WCcard:hover::after {
    filter: blur(30px);
  }
  
  .WCcard:hover::before {
    transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
  }
  
  .WCcard > h2
  {
    color: #00dbde;
    align-items: center;
    /* background-color: red; */
  }
  p
  {
    font-size: 1.2rem;
  }