.WCMain {
  min-height: 100vh;
  /* height: 230vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
}
.WCfirst-content span
{
  text-transform: capitalize;  
}
.WCHead {
  text-align: center;
  padding-top: 20px;
  font-size: 2.4rem;
}

.mainFrame {
  /* border: 2px solid; */

  padding-top: 50px;
  width: 80%;
  height: 750px;
  margin: auto;


}

.WCrow {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: auto;
  margin-bottom: auto;
  width: 80%;
  margin: 100px;
}

.WCcard {
  width: 400px;
  margin: 30px auto;
  height: 400px;
  transition: all 0.4s;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.705);
  font-size: 1.5rem;
  font-weight: 600;
  overflow: hidden;
  background: #fff;
  box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff;

}

.WCcard:hover {
  border-radius: 15px;
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.705);
  background: rgb(103, 151, 255);
}

.WCfirst-content {
  height: 100%;
  width: 100%;
  transition: all 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  border-radius: 15px;
}

.WCcard:hover .WCfirst-content {
  height: 0px;
  opacity: 0;
}

.WCsecond-content {
  height: 0%;
  width: 100%;
  opacity: 0;
  display: flex;

  justify-content: center;
  align-items: center;
  border-radius: 15px;
  transition: all 0.4s;
  font-size: 0px;
  transform: rotate(90deg) scale(-1);
}

.WCcard:hover .WCsecond-content {
  opacity: 1;
  height: 100%;
  font-size: 1.8rem;
  transform: rotate(0deg);
}

.WCCard_image {
  padding: 10px;
  height: 250px;
  width: 250px;
}

.WCCard_image>img {
  height: 100%;
  width: 100%;
}

@media all and (min-width:1400px) {
  .WCMain {
    margin-left: 5%;
  }
 
}

@media all and (max-width:1400px) {

  .WCcard {
    width: 300px;
    height: 350px;
    font-size: 1.35rem;
    font-weight: 500;    


  }

  .WCCard_image {
    height: 220px;
    width: 200px;
  }

}

@media all and (max-width:1200px) {
  

  .WCCard_image {
    padding: 10px;
    height: 250px;
    width: 250px;
  }
}

@media all and (max-width:1024px) {


}

@media all and (max-width:768px) {

  .WCrow {
    width: auto;

  }

  .WCcard {
    width: 300px;
    height: 300px;
    font-size: 1.1rem;
  }

  .WCCard_image {
    height: 250px;
    width: 300px;
  }
}

@media all and (max-width:540px) {
  .WCrow {
    width: auto;
    font-size: 1.2rem;

  }

  .WCcard {
    min-width: 300px;
    height: 300px;
  }
  .WCCard_image
  {
    height: 180px;
    width: 220px;
  }
  
}