@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");

.About_Main {
  font-family: "Josefin Sans", sans-serif;
  overflow-x: hidden;
}
.About {
  position: relative;
}
.About_head {
  top: 30%;
  left: 45%;
  position: absolute;
  color: white;
}
.AboutImg_size {
  height: 200px;
  width: 100%;
}

.About_Info {
  display: flex;
  justify-content: space-around;
}

.About_Animation {
  display: flex;
  justify-content: center;
  width: 100%;
}
.About_inner {
  width: 100%;
  border: solid red;
}
.About_us {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
  padding-right: 3%;
}

.About_Info_head {
  font-size: 1.5rem;
}

.btn-donate {
  --clr-font-main: hsla(0 0% 20% / 100);
  --btn-bg-1: hsla(194 100% 69% / 1);
  --btn-bg-2: hsla(217 100% 56% / 1);
  --btn-bg-color: hsla(360 100% 100% / 1);
  --radii: 0.5em;
  cursor: pointer;
  padding: 0.9em 1.4em;
  min-width: 120px;
  min-height: 44px;
  font-size: var(--size, 1rem);
  font-family: "Segoe UI", system-ui, sans-serif;
  font-weight: 500;
  transition: 0.8s;
  background-size: 280% auto;
  background-image: linear-gradient(
    325deg,
    var(--btn-bg-2) 0%,
    var(--btn-bg-1) 55%,
    var(--btn-bg-2) 90%
  );
  border: none;
  border-radius: var(--radii);
  color: var(--btn-bg-color);
  box-shadow: 0px 0px 20px rgba(71, 184, 255, 0.5),
    0px 5px 5px -1px rgba(58, 125, 233, 0.25),
    inset 4px 4px 8px rgba(175, 230, 255, 0.5),
    inset -4px -4px 8px rgba(19, 95, 216, 0.35);
}

.btn-donate:hover {
  background-position: right top;
}

.btn-donate:is(:focus, :focus-visible, :active) {
  outline: none;
  box-shadow: 0 0 0 3px var(--btn-bg-color), 0 0 0 6px var(--btn-bg-2);
}

@media (prefers-reduced-motion: reduce) {
  .btn-donate {
    transition: linear;
  }
}

.Aspiration {
  height: 100vh;
}
.Aspiration_head {
  margin-top: 5%;
  text-align: center;
  font-size: 1.5rem;
}

.Aspiration_card {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
}

.book {
  position: relative;
  border-radius: 10px;
  width: 20%;
  height: 400px;
  background-color: whitesmoke;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
}

.cover {
  top: 0;
  position: absolute;
  background-color: lightgray;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.book:hover .cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);
}

p {
  font-size: 20px;
  font-weight: bolder;
}

@media all and (max-width: 540px) {
  .About_head {
    left: 20%;
  }
}

@media all and (max-width: 768px) {
  .About_head {
    left: 42%;
  }
  .About_Info {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 1200px;
  }

  .About_us {
    width: 100%;
    height: 500px;
  }
}

/* @media all and (max-width: 1200px) {
  .Aspiration_card {
    flex-wrap: wrap;
  }
} */
