.accordion {
  width: 90%;
  margin: 0 0 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.accordion-item {
  border-bottom: 1px solid #ccc;
}

.accordion-item:last-child {
  border-bottom: none;
}
.accordion-item ul li {
  padding: 5px;
}

.accordion-title {
  background: #f1f1f1;
  padding: 15px;
  cursor: pointer;
  position: relative;
}

.accordion-icon {
  position: absolute; /* Add this line */
  right: 25px; /* Add this line */
  top: 50%; /* Add this line */
  transform: translateY(-50%); /* Add this line */
}

.accordion-content {
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.accordion-content-inner {
  padding: 15px;
  background-color: #fff;
}
.accordion-title:hover {
  background: #ddd;
}

.accordion-content {
  overflow: hidden;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
}

.accordion-content.open {
  /* padding: 20px; */
  background: #fff;
}

.accordion-content p {
  margin: 0;
}

@media all and (max-width: 768px) {
  .accordion-content-inner {
    padding: 5px;
  }
}
