@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

* .main_form h1,
.main_form h3,
.main_form p {
  font-weight: 400;
}

.main_form {
  /* background-image: linear-gradient(55deg, #3e7da7,#3893c0, #216a9a,#15425f, #05193c); */
  /* background-color: #0093E9; */
  /* background-image: linear-gradient(40deg, #80D0C7 0%, #0093E9 100%); */
  /* background-image: linear-gradient(to bottom, #02375a,#035d9a, #6DD5FA); */
  /* background-image: linear-gradient(to right, #2a318f,
#0027ff,
#0462ff,
#0399fe 50%,
#0badfe,
#19c7ff); */
}


.Enquiry_head h1 {

  height: 100%;
  /* background-image: url("./assets/Images/EnquireForm/EnquireFormBG.jpg"); */
  background-size: cover;
  background-repeat: repeat-x;
  animation: slidein 30s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  /* color: transparent; */
  background-clip: text;
}

.Enquiry {
  height: 100%;
  width: 100%;
}

.Enquiry_head {
  height: 100%;
  /* display: flex;
  justify-content: center;  
  align-items: center; */
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 2fr 100px;
  animation: bgimg 2s 1 linear;
}

.enquiry_bg_img {
  height: 100%;
  /* width: 30%; */
  /* display: flex; */
}

#enquiry_bg_img {
  height: 400px;
  /* width: clamp(300px,400px,100%); */
  width: 400px;
}

@keyframes bgimg {
  from {
    filter: blur(5px);
  }

  to {
    filter: blur(0px);
  }
}

.enquiry_bg_text {
  height: 100%;
  /* width: 45%; */
  /* display: flex; */
}

#enquiry_bg_text {
  align-content: center;
  font-size: 3.5rem;
  text-align: left;
}

#bg_text {
  color: #23a6d5;
}



@keyframes slidein {
  from {
    background-position: top;
    background-size: 3500px;
  }

  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}

#form_head {
  font-family: "Josefin Sans", sans-serif;
  padding-top: 20px;
  font-size: 45px;
  color: white;
  padding: 5% 0;
}

.form-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
  padding: 2% 0;
  background-color: #0f1473;

}

.form-content {
  width: 40%;
  color: yellow;
}

.form-con-content h3 {
  color: rgb(255, 255, 255);
}

.form-con {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  padding: 1.5% 0 1% 0;
  font-size: 1.2rem;
  position: relative;
}

.form-con-content {
  display: flex;
  flex-direction: column;
  width: 85%;
  padding: 1.5% 0;
}

.form-con-content p {
  padding: 2% 0;
  line-height: 25px;
  transform: translatey(15px);
}

#form-one {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  /* background-color: rgba(3, 34, 160, 0.909); */
  background-color: rgb(88, 234, 247);
  border: none;
  color: black;
  place-content: center;
  /* transform: translateY(-12px); */
}

.form-con-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-con-btn::before {
  content: "";
  position: absolute;
  /* left: 0%; */
  top: 45%;
  bottom: -8%;
  border-left: 2px dashed rgb(252, 252, 253);
}

.enquiry_bg {
  position: relative;
}

.form-main-box {

  height: 200px;
  width: 200px;
  background-color: rgb(255, 19, 157);
  position: absolute;
  z-index: -999;
  border-radius: 50%;
  filter: blur(10px);
  left: -10%;
  top: -10%;
}

.form-main-box2 {

  height: 100px;
  width: 100px;
  background-color: rgb(255, 133, 19);
  position: absolute;
  z-index: -999;
  border-radius: 50%;
  right: 15%;
  top: 20%;
}

.form-main-box3 {

  height: 200px;
  width: 200px;
  /* background-color: rgb(213, 11, 112); */
  background: linear-gradient(to bottom left, rgb(88, 234, 247), rgb(60, 127, 252));
  position: absolute;
  z-index: -999;
  border-radius: 50%;
  left: 50%;
  bottom: -25%;
  transform: translate(-50%, -50%);
  filter: blur(50px);
}

.form-main-box4 {

  height: 70px;
  width: 70px;
  background-color: rgb(231, 255, 47);
  position: absolute;
  z-index: -999;
  border-radius: 50%;
  right: -5%;
  bottom: 10%;
}

.mainparent {
  width: 30%;
  padding: 5% 0;
  /* background-image:url("./assets/Images/EnquireForm/EnquireFormBG.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.subparent {
  height: 100%;
  position: relative;
  padding: 4% 0;
}

.enquiry_bg {
  /* position: relative; */
}



.enquiry_logo {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
}

.logoanimate {
  position: relative;
}

.enquiry_logo>div {
  height: 107px;
  width: 107px;
  /* border: 3px solid #02f9ff; */
  /* box-shadow:  3px 3px 2px aqua, -5px -5px 2px rgb(141, 221, 245); */
  border-left: 3px solid aqua;
  border-bottom: 3px solid aqua;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  position: relative;
}

/* .enquiry_logo>div::before
{
  content: '';
  position: absolute;
  height: 250px;
  width: 250px;
  background:linear-gradient(360deg,transparent 10%,aqua 20%,transparent);
  top: -25%;
  left: -25%;
  animation: logo 1s infinite  forwards;
  transform: translate(-50%,-50%);
  border: none;
} */
/* .enquiry_logo>div::after
{
  content: '';
  position: absolute;
  width: 90px;
  height: 90px;
  background-color: #0a0a0a;
  top: 3%;
  left: 3%;
  transform: translate(-50%,-50%);
} */
@keyframes logo {
  100% {
    transform: rotate(360deg);
  }
}

#formlogo1 {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  z-index: 100;
}

#formHead1 {
  color: white;
  margin: 3% 0;
}

.enquire_logo {
  /* height: 140px; */
}

.form-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10% 0 7% 0;
  margin: 5% 0;
  /* background: rgba(255, 255, 255, 0.1); */
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  /* border: 2px solid #333788; */
  border-radius: 50px;
  position: relative;
}

/* .form-main::before {
  content: '';
  position: absolute;
  left: 0px;
  top: 210px;
  width: 0px;
  height: 250px;
  background-color: rgb(233, 235, 247);
  border: 1px solid #02f9ff;
  box-shadow: 0px 0px 0px rgba(0,255,255,1), 
  0px 2px 16px rgba(0,255,255,0.6), 
  0px 4px 16px rgba(0,255,255,0.6), 
  0px 8px 16px rgba(0,255,255,0.6);
} */

/* .form-main::after {
  content: '';
  position: absolute;
  left: -40px;
  bottom: 0px;
  width: 500px;
  height: 3px;
  background-color: #02f9ff;
  background: linear-gradient(90deg, transparent 45%, #02f9ff, transparent);
  border: none;
  animation: write 1s infinite linear alternate;
} */

#form-main-border:hover {
  color: #255784;
  /* background: #2196f3; */
  /* box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3; */
  transition-delay: 1s;
}

#form-main-border .spanborder {
  position: absolute;
  display: block;
}

#form-main-border #s1 {
  top: 0;
  left: 0%;
  width: 90%;
  height: 2px;
  background: linear-gradient(90deg, transparent 45%, #02f9ff, transparent);
  border-radius: 50px;
}

#form-main-border #s3 {
  bottom: 0;
  right: 5%;
  width: 80%;
  height: 2px;
  background: linear-gradient(to right, transparent, #02f9ff, transparent 85%);

}

#form-main-border #s2 {
  top: 20%;
  right: 0;
  width: 2px;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(180deg, transparent, #02f9ff, transparent, transparent);
}


#form-main-border #s4 {
  bottom: 0%;
  left: 0;
  width: 2px;
  border-radius: 50px;
  height: 90%;
  background: linear-gradient(360deg, transparent 40%, #02f9ff, transparent);
}

.form-sub-content {
  width: 70%;
  margin: 2%;
  padding: 3% 0;
}

#form-num::-webkit-inner-spin-button {
  appearance: none;
}

#form-name,
#form-mail,
#form-num {
  height: 50px;
  width: 100%;
  margin: 3% 0;
  border: none;
  border-radius: 3px;
  font-family: "Josefin Sans", sans-serif;
  padding-left: 20px;
  outline: none;
  font-size: 1.5rem;
}

:is(#form-name, #form-mail, #form-num)::placeholder {
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
  /* font-style: italic; */
  font-size: 14px;
  color: #a7a5a5;
}

#name_label,
#mail_label,
#mobile_label {
  /* display: none; */
  color: red;
  text-align: center;
}

#form-btn {
  height: 40px;
  width: 150px;
  border: none;
  background-color: white;
  border-radius: 30px;
}

.radiolg {
  margin: 3% 0;
}

#form-radio,
#form-radio2 {
  color: white;
  display: flex;
  justify-content: space-between;
  accent-color: rgba(3, 34, 160, 0.909);
  font-size: 1.1rem;
  margin: 5% 0 0% 0;
  width: 100%;
}

#form-radio2>span,
#form-radio>span {
  display: flex;
  justify-content: flex-end;
  width: 37.5%;
}

#form-radio-btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 55%;

  span {
    width: 100%;
  }
}

#form-radio-btn2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 55%;

  span {
    width: 100%;
  }
}

input[type='radio']:checked {
  background-color: white;
}

.choose_drop {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.course-select {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

.course-select label {
  padding-left: 2%;
  font-size: 1.1rem;
}

#course-select {
  height: 50px;
  width: 150px;
  border: none;
  padding-left: 10px;
  font-family: "Josefin Sans", sans-serif;
  border-radius: 3px;
  outline: none;
  color: rgba(3, 34, 160, 0.909);
  /* appearance: none; */
  font-size: 1.1rem;
}

.form-btn {
  position: relative;
  padding: 15px 20px;
  border-radius: 7px;
  border: 1px solid rgb(61, 106, 255);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: white;
  color: rgba(3, 34, 160, 0.909);
  font-family: "Josefin Sans", sans-serif;
  box-shadow: 0 0 0 0 transparent;
  transition: all 0.2s ease-in;
  margin: 5% 0 0 0;
}

.form-btn1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-btn:hover {
  background: rgb(249, 249, 250);
  color: #fff;
  box-shadow: 0 0 17px 5px rgba(244, 245, 246, 0.815);
  color: rgba(3, 34, 160, 0.909);
}

.form-btn:hover::before {
  animation: sh02 0.5s 0s linear 2 alternate;
}

.form-btn::before {
  content: "";
  display: block;
  width: 0px;
  height: 75%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 5px 5px rgba(3, 34, 160, 0.909);
  transform: skewX(-30deg);
}

.form-btn:active {
  box-shadow: 0 0 0 0 transparent;
  transition: box-shadow 0.2s ease-in;
}

@keyframes sh02 {
  0% {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    left: 100%;
  }
}

.neumorph {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  /* background-color: #ecf0f3; */
  height: 100%;
  margin: 1%;
}

.neoParent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4%;
  width: 100%;
  z-index: 2;
  background-color: #e4e8ed;
  /* margin: 1% 0; */
}

.neoForm {
  /* display: grid; */
  /* grid-template-columns: 1fr; */
}

.neoright {
  background-color: #000185;
  /* margin: 1% 0; */
}


.neoForm {
  border-radius: 34px;
  box-shadow: 13px 13px 20px #cbced1,
    -13px -13px 20px #ffffff;
  background-color: #DDE2E8;
  /* padding: 50px 150px; */
  padding: 2% 7%;
}

.neoMain {
  padding: 5% 0;
}

.neoHead {
  text-align: center;
}

.neoIcon {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  background: #e8e8e8;
  box-shadow: inset 5px 5px 8px #bebebe,
    inset -5px -5px 8px #ffffff;
  display: grid;
  place-content: center;
}

.neoimg_bg {
  display: grid;
  place-items: center;
  margin: 5% 0;
}

#formlogo {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.neoContent {
  /* height: 100%; */
  /* width: 100%; */
  display: flex;
  padding: 5% 0;
  justify-content: center;
}

.neoformdata {
  /* width: 100%; */
}

#neoname,
#neonum,
#neomail {
  width: 400px;
  height: 60px;
  margin: 5% 0;
  /* border-radius: 20px; */
  background: #e4ecec;
  box-shadow: inset 8px 8px 8px #cbced1,
    inset -8px -8px 8px #ffffff;
  border: none;
  font-size: 20px;
  /* padding-left: 20px; */
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  outline: none;
}

.neoselect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3% 0;
  width: 100%;
}

.formqualify,
.formcourse {
  width: 48%;
}

#neoqua,
#neocourse {
  width: 100%;
  height: 60px;
  margin: 5% 0;
  background: #e4ecec;
  box-shadow: inset 5px 5px 10px #b8b8b8,
    inset -5px -5px 10px #ffffff;
  border: none;
  font-size: 20px;
  /* padding-left: 20px; */
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  outline: none;
  /* color: #7C7C7C; */
}

#neobtn {
  width: 200px;
  height: 60px;
  background-color: #000185;
  border: none;
  font-size: 20px;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  outline: none;
  color: white;
  margin-top: 20px;
  box-shadow: inset 20px 20px 18px #000035,
    inset -20px -20px 18px #0002d5;
  border-radius: 10px;
  cursor: pointer;
}

.enq_btn {
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
}

.form-contents {
  color: yellow;
}

:is(#neoname, #neonum, #neomail)::placeholder {
  text-align: center;
  color: black;
}

.id-card-holder {
  width: 225px;
  padding: 4px;
  margin: 0 auto;
  background-color: #1f1f1f;
  border-radius: 5px;
  position: relative;
}

.id-card-holder:after {
  content: '';
  width: 7px;
  display: block;
  background-color: #0a0a0a;
  height: 100px;
  position: absolute;
  top: 105px;
  border-radius: 0 5px 5px 0;
}

.id-card-holder:before {
  content: '';
  width: 7px;
  display: block;
  background-color: #0a0a0a;
  height: 100px;
  position: absolute;
  top: 105px;
  left: 222px;
  border-radius: 5px 0 0 5px;
}

.id-card {

  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 1.5px 0px #b9b9b9;
}

.id-card img {
  margin: 0 auto;
}

.header img {
  width: 100px;
  margin-top: 15px;
}

.photo img {
  width: 80px;
  margin-top: 15px;
}

#id_name {
  font-size: 15px;
  margin: 5px 0;
}

#id_head {
  font-size: 12px;
  margin: 2.5px 0;
  font-weight: 300;
}

.qr-code img {
  width: 50px;
}

#id_para {
  font-size: 10px;
  margin: 2px;
}

.id-card-hook {
  background-color: black;
  width: 70px;
  margin: 0 auto;
  height: 15px;
  border-radius: 5px 5px 0 0;
}

.id-card-hook:after {
  content: '';
  background-color: white;
  width: 47px;
  height: 6px;
  display: block;
  margin: 0px auto;
  position: relative;
  top: 6px;
  border-radius: 4px;
}

.id-card-tag-strip {
  width: 45px;
  height: 40px;
  background-color: #d9300f;
  margin: 0 auto;
  border-radius: 5px;
  position: relative;
  top: 9px;
  z-index: 1;
  border: 1px solid #a11a00;
}

.id-card-tag-strip:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #a11a00;
  position: relative;
  top: 10px;
}

.id-card-tag {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 100px solid #d9300f;
  margin: -10px auto -30px auto;

}

.id-card-tag:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid white;
  margin: -10px auto -30px auto;
  position: relative;
  top: -130px;
  left: -50px;
}

/* Responsive */
@media all and (max-width: 1200px) {
  .mainparent {
    width: 40%;
  }

  .form-content {
    width: 45%;
  }

  #form-radio,
  #form-radio2 {
    flex-direction: column;
    align-items: center;
    padding: 1% 0;
  }

  #form-radio2>span,
  #form-radio>span {
    justify-content: center;
    width: 55%;
  }

  #form-radio-btn,
  #form-radio-btn2 {
    width: 70%;
    margin: 6% 0 0 0;
  }

  .neumorph {
    grid-template-columns: 1fr;
  }

  .Enquiry_head {
    grid-template-columns: 1fr 2fr;
  }
}

/* Laptop  */

@media all and (max-width: 1024px) {
  .mainparent {
    width: 50%;
    margin: 10% 0;
  }

  .form-container {
    display: flex;
    flex-direction: column;
  }

  .form-content {
    width: 75%;
  }

  .form-con-content {
    width: 80%;
  }

  .Enquiry_head {
    justify-content: space-between;
    align-items: center;
  }
}

/* Tab device */
@media all and (max-width: 768px) {
  .mainparent {
    width: 70%;
    margin: 15% 0;
  }

  .Enquiry_head {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  #enquiry_bg_img {
    /* width: 100%; */
  }

  .form-content {
    width: 90%;
  }

  .form-con-btn {
    width: 10%;
  }

  .form-con-content {
    width: 80%;
  }

  .choose_drop {
    flex-direction: column;
  }

  #form-radio {
    flex-direction: column;
    align-items: center;
    padding: 1% 0;
  }

  #form-radio-btn,
  #form-radio-btn2 {
    width: 75%;
    margin: 6% 0 0 0;
  }

  #form-radio2 {
    flex-direction: column;
    align-items: center;
    padding: 1% 0;
  }

  #form-radio2>span,
  #form-radio>span {
    justify-content: center;
    width: 100%;
  }
}

/* Mobile device */
@media all and (max-width: 540px) {
  #enquiry_bg_img {
    width: clamp(50px, 400px, 100%);
  }

  #enquiry_bg_text {
    font-size: 3rem;
  }

  #form_head {
    font-size: 33px;
  }

  .mainparent {
    width: 90%;
    padding: 5% 0;
    margin: 20% 0;
  }

  .form-con {
    padding: 5% 0;
  }

  .form-con h3 {
    font-size: 1.35rem;
  }

  .form-con p {
    font-size: 1.15rem;
    line-height: 25px;
  }

  .form-content {
    justify-content: space-between;
    text-align: justify;
    /* width: 100%; */
  }

  .form-con-btn {
    width: 10%;
  }

  .form-con-content {
    width: 80%;
  }

  #form-radio {
    /* flex-direction: column; */
    /* align-items: center; */
    padding: 2% 0;

    span {
      width: 100%;
    }
  }

  #form-radio-btn {
    width: 100%;
    margin: 6% 0 0 0;
  }

  #form-radio2 {
    flex-direction: column;
    align-items: center;
    padding: 1% 0;

    span {
      width: 100%;
    }
  }

  #form-radio-btn2 {
    width: 100%;
    margin: 6% 0 0 0;
  }

  #form-name,
  #form-mail,
  #form-num {
    font-size: 1.1rem;
  }

  .form-con-btn::before {
    content: "";
    position: absolute;
    /* left: 0%; */
    top: 40%;
    bottom: -15%;
  }

  #form-radio2>span,
  #form-radio>span {
    justify-content: flex-start;
  }

  #neoname,
  #neonum,
  #neomail {
    /* width: 300px; */
  }


  .neoForm {
    width: 100%;
  }

  #neoname,
  #neonum,
  #neomail {
    width: 100%;
  }
}